main {
    all: unset;
    display: grid;
    align-items: center;
    justify-content: center;
    max-width: 144rem;
    margin-block-start: 10rem;
}
#about {
    margin-block-start: 16rem;
    margin-block-end: 8rem;
    max-width: 80rem;
    line-height: 1.8;
    /* filter: brightness(0.7); */
    margin-inline: 3rem;
}
#credits {
    max-width: 144rem;
    margin-block-start: 15rem;
    padding: 2rem;
}
