html {
    --Very-Dark-Grayish-Blue: hsl(232, 38%, 84%);
    --white: hsl(232, 24%, 19%);
    --timer-container-bgc: var(--white);
    --Very-Dark-Desaturated-Blue: hsl(235, 24%, 19%);
    --Light-Grayish-Blue: hsla(233, 11%, 84%, 0.7);
    --Light-Grayish-Blue-hover: hsl(236, 33%, 92%);
    --Dark-Grayish-Blue: hsl(234, 11%, 52%);
    --border-color: hsl(236, 13%, 26%);
    --box-shadow-color: rgba(14, 15, 21, 0.1);
    --box-shadow-rgb: 14, 15, 21;
    --body-bgc: hsl(235, 21%, 15%);
    --nav-header-invert: 100%;
    --timer-container-before-bgc: hsla(231, 25%, 42%, 0.03);
    --start-btn-border-color: hsl(227, 26%, 60%);
    --study-rest-btns-container-border-color: hsl(231, 22%, 25%);
    --todo-list-item-border-color: var(
        --study-rest-btns-container-border-color
    );
    --todo-cross-btn-brightness: 3;
    --input-form-color: var(--Very-Dark-Grayish-Blue);
    --footer-bgc: #25283c2f;
}
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    color: var(--Very-Dark-Grayish-Blue);
}

#mode-btn img {
    opacity: 0;
}
#mode-btn {
    filter: invert(0);
    opacity: 0.8;
    background: url("../images/icon-sun.svg") no-repeat center;
}
#new-todo-input::placeholder {
    filter: brightness(0.7);
}
#otro-blockquote {
    background: var(--timer-container-before-bgc);
}
