/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
} /* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin: 0;
} /* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
    list-style: none;
} /* Set core root defaults */
html:focus-within {
    scroll-behavior: smooth;
} /* Set core body defaults */
body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
} /* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
} /* Make images easier to work with */
img,
picture {
    max-width: 100%;
    display: block;
} /* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
    font: inherit;
} /* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }
    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
} /* End CSS Reset */

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    --Very-Light-Gray: hsl(0, 0%, 98%);
    --Very-Light-Grayish-Blue: hsl(236, 33%, 92%);
    --Light-Grayish-Blue: hsl(233, 11%, 84%);
    --Dark-Grayish-Blue: hsl(236, 9%, 61%);
    --Very-Dark-Grayish-Blue: hsl(235, 19%, 35%);
    --blue: hsl(218, 93%, 60%);
    --white: #fff;
    --timer-container-bgc: #f5f5f5;
    --body-bgc: #f7f7f7;
    --box-shadow-rgb: 196, 196, 196;
    --study-rest-btns-container-border-color: #ddd;
    --timer-container-before-bgc: hsla(208, 63%, 63%, 0.03);
    --start-btn-border-color: #ccc;
    --todo-list-item-border-color: hsl(235, 30%, 92%);
    --todo-cross-btn-brightness: 1;
    --footer-bgc: #f9f9f9;
}
body {
    font-size: 1.8rem;
    scroll-behavior: smooth;

    font-family: "Josefin Sans", sans-serif;
    background-color: var(--body-bgc);
}
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    color: var(--Very-Dark-Grayish-Blue);
}
#main-nav {
    max-width: 144rem;
    margin: auto;
    padding-inline: 1.5rem;
    padding-block: 1.5rem;
}
#main-nav-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
}
.nav-header {
    color: var(--Very-Dark-Grayish-Blue);
}
#mode-btn {
    filter: invert(100%);
    opacity: 0.4;
    padding: 0.5rem;
    border-bottom: 2px solid transparent;
    /* transform: rotate(0deg); */
    transition: transform 0.6s;
}
#mode-btn:focus-visible {
    border-bottom: 2px solid white;
}
.mode-btn-rotate {
    transform: rotate3D(0, 1, 0, 180deg);
}
main {
    display: grid;
    align-items: end;
    justify-items: center;
    grid-template-rows: 48vh auto;
    min-height: 80vh;
    max-width: 144rem;
    margin: auto;
}
#timer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 20fr 60fr 15fr;
    column-gap: 3rem;
    row-gap: 3rem;
    margin-block-start: min(4rem, 10vh);
    margin-block-end: 1rem;
}
#study-rest-btns-container {
    grid-column: 1/-1;
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid var(--study-rest-btns-container-border-color);
    position: relative;
    overflow: hidden;
}
#study-rest-btns-container:before {
    border-top-left-radius: 4px;
    content: "";
    position: absolute;
    min-height: 100%;
    min-width: 50%;
    background-color: hsla(230, 20%, 36%, 0.1);
    transform: translateX(-50%);
    transition: transform 0.2s;
    z-index: -1;
}
.study-rest-btn-highlighted:before {
    transform: translateX(50%) !important;
    border-top-right-radius: 4px;
    border-top-left-radius: 0px !important;
}
#study-btn,
#rest-btn {
    min-height: 100%;
    min-width: 50%;
}
#study-btn {
    border-top-left-radius: 4px;
}
#rest-btn {
    border-top-right-radius: 4px;
}
#study-btn:hover,
#rest-btn:hover {
    background-color: hsla(230, 20%, 36%, 0.05);
}
#study-btn:focus-visible,
#rest-btn:focus-visible {
    background-color: hsla(230, 20%, 36%, 0.15);
}
/* #timer-minutes,
#timer-seconds {
    background-color: var(--white);
} */
#start-timer-btn,
#rest-btn,
#study-btn {
    justify-self: center;
    max-height: 100%;
    text-align: center;
    color: var(--Very-Dark-Grayish-Blue) !important;
    /* border-radius: 4px; */
    transition: border-bottom 0.1s;
}
#start-timer-btn {
    grid-column: 1/-1;
    border-bottom: 2px solid var(--start-btn-border-color);
    align-self: flex-start;
    text-transform: uppercase;
    /* margin-block-start: 2rem; */
}
#start-timer-btn:hover,
#start-timer-btn:focus-visible {
    border-bottom: 2px solid var(--blue);
}
.timer-container {
    align-self: flex-end;
    justify-self: center;
    font-family: "Red Hat Text", sans-serif;
    color: var(--Very-Dark-Grayish-Blue) !important;
    font-variant-numeric: tabular-nums;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 15rem;
    height: 15rem;
    aspect-ratio: 1;
    background: var(--timer-container-bgc);

    color: var(--white);
    border-radius: 8px;
    font-size: 7.2rem;
    position: relative;
    overflow: hidden;
    user-select: none;
    box-shadow: 0px 10px 20px -10px rgba(var(--box-shadow-rgb), 1);
}
.timer-container::before {
    content: "";
    width: 100%;
    height: 50%;
    position: absolute;
    /* background-color: hsla(232, 21%, 35%, 0.03); */
    background-color: var(--timer-container-before-bgc);
    top: 0;
    left: 0;
}
#todo-list-container {
    align-self: flex-start;
    margin-inline: 1rem;
    margin-block: 3rem;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    width: min(95%, 54rem);
    gap: 3rem;
}
#todo-list {
    list-style: none;
    padding: 0;
    margin: 0;
    border-radius: 4px;
    overflow: hidden;
}
#todo-list,
#todo-input-container {
    box-shadow: 0px 0px 51px -10px rgba(var(--box-shadow-rgb), 0.78);
}
#todo-list-settings-container {
    display: flex;
    padding-inline: 2rem;
    height: 5rem;
    font-size: 1.4rem;
    color: var(--Dark-Grayish-Blue);
}
#todo-list-settings {
    min-width: 100%;
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0;
}
#todo-list-settings-status {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 1rem;
}

#quote-container {
    max-width: 86rem;
    /* width: min(86rem, 100%); */
    filter: opacity(0);
    margin-block: 15rem;
    padding-inline: 1.5rem;
    margin-inline: auto;
}
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic);
#otro-blockquote {
    font-size: 2.3rem;
    font-family: Open Sans;
    font-style: italic;
    color: var(--Very-Dark-Grayish-Blue);
    padding: 1.92em 3rem 1.92em 7.5rem;
    border-left: 8px solid var(--Very-Dark-Grayish-Blue);
    line-height: 1.6;
    position: relative;
    background: hsla(208, 63%, 63%, 0.01);
    filter: brightness(0.8);
}
#otro-blockquote::after {
    content: "";
}
#otro-blockquote::before {
    font-family: Arial;
    content: "\201C";
    color: var(--Very-Dark-Grayish-Blue);
    font-size: 9.2rem;
    position: absolute;
    left: 1rem;
    top: -1rem;
}

#otro-blockquote #quotee {
    display: block;
    color: #333;
    color: var(--input-form-color);
    font-style: normal;
    font-weight: bold;
    margin-top: 1.6rem;
}
#footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 144rem;
    margin-inline: auto;
    margin-block-start: 20rem;
    padding-block: 3rem;
    position: relative;
    box-shadow: -50vw 0px 0px 0px var(--footer-bgc),
        50vw 0px 0px 0px var(--footer-bgc);
    background-color: var(--footer-bgc);
}
#footer > * {
    margin-inline: 2rem;
}

#footer-nav-links {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    gap: 4rem;
}
